/DevLair/DevLair/bin
/DevLair/DevLair/obj
/DevLair/DevLair.Tests/obj
/DevLair/DevLair.Tests/bin
*.suo
*.vs10x
/DevLair/DevLair.ORM/bin
/DevLair/DevLair.ORM/obj
/DevLair/TestResults
/DevLair/DevLair/App_Data